{% extends 'base.html.twig' %}

{% block title %}Vente
{% endblock %}

{% block body %}
	<div class="container mb-5">
		<div class="row justify-content-center p-2">
			<h1 class="mt-3">Vente</h1>

			{% for ad in ad %}
				<div class="col-sm-3 mt-4 border mb-4 mx-3">
					<h2 class="p-2 text-center">{{ ad.marque }}
						{{ ad.modele }}</h2>
					<a href="{{ path('ad_show', {'id':ad.id})}}">
						<img class="image-voiture img-fluid" src="{{ad.cover}}">
					</a>
					<p class="mt-3">Kilométrage :
						{{ ad.km }}
						km
					</p>
					<p class="mt-2">Prix :
						{{ ad.prix }}
						€</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
