{% extends 'base.html.twig' %}

{% block title %}Vente
{% endblock %}


{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mt-3">{{ ad.marque }}
					{{ ad.modele }}</h1>
				<img class="image-voiture img-fluid" src="{{ ad.cover }}">
			</div>
			<div class="col-sm-4 mt-5">
				<p class="mt-5">Kilométrage :
					{{ ad.km }}
					km</p>
				<p class="mt-2">Prix :
					{{ ad.prix }}
					€</p>
				<p>Nombre de propriétaire :
					{{ ad.nbproprio }}</p>
				<p class="mt-">Cylindrée :
					{{ ad.cylindree }}
					cm3 - Puissance :
					{{ ad.puissance }}
					CV</p>
				<p class="mt-2">Transmission :
					{{ ad.transmission }}
					- Carburant :
					{{ ad.carburant }}</p>
				<p class="mt-2">Année de Circulation :
					{{ ad.circ }}</p>
				<p class="mt-2">Description :
					{{ ad.description }}</p>
				<p class="mt-2">Option :
					{{ ad.texte }}</p>
			</div>
		</div>
	</div>
{% endblock %}
