{% extends 'base.html.twig' %}

{% block title %}Vente
{% endblock %}


{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mt-3">{{ voiture.marque }}
					{{ voiture.modele }}</h1>
				<img class="image-voiture img-fluid" src="{{ voiture.image }}">
			</div>
			<div class="col-sm-4 mt-5">
				<p class="mt-5">Kilométrage :
					{{ voiture.km }}
					km</p>
				<p class="mt-2">Prix :
					{{ voiture.prix }}
					€</p>
				<p>Nombre de propriétaire :
					{{ voiture.nbproprio }}</p>
				<p class="mt-">Cylindrée :
					{{ voiture.cylindree }}
					cm3 - Puissance :
					{{ voiture.puissance }}
					CV</p>
				<p class="mt-2">Transmission :
					{{ voiture.transmission }}
					- Carburant :
					{{ voiture.carburant }}</p>
				<p class="mt-2">Année de Circulation :
					{{ voiture.circ }}</p>
				<p class="mt-2">Description :
					{{ voiture.description }}</p>
				<p class="mt-2">Option :
					{{ voiture.texte }}</p>
			</div>

			<!-- Carrousel d'images indépendantes -->

			<div id="carouselExampleIndicators" class="carousel slide carousel-fade carousel-news-actus col-sm-8 mt-5" data-bs-ride="carousel">
				<ol class="carousel-indicators">
					{% for image in voiture.getMyImages() %}
						<li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
					{% endfor %}
				</ol>
				<div class="carousel-inner">
					{% for image in voiture.getMyImages() %}
						<div class="carousel-item {% if loop.first %}active{% endif %}">
							<img src="{{ image.Url }}" alt="">
						</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</a>
			</div>
		</div>

	{% endblock %}
